@layer components {
  body.home .uoc-header {
    position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 9999;
background-color: transparent;

  }



  body.pages {
    .uoc-header {
      position: static;
      background-color: #ffffff;
      border-bottom: to-rem(1) solid #dee2e6;
    }
  }

  .uoc-header {
    padding: to-rem(16) to-rem(32);
    width: 100%;

    .navbar-brand img {
      max-width: to-rem(120);
      height: auto;
    }

    .nav-link {
      font-family: var(--bs-font-sans-serif);
      font-weight: 600;
      font-size: to-rem(16);
      color: var(--bs-primary);
      text-decoration: none;
      transition: color 0.3s;

      &:hover,
      &:focus {
        color: var(--bs-secondary);
      }

      &:is([href*="index"], [href*="home"]) {
        font-weight: 700;
        text-decoration: none;
      }
    }

    @media (max-width: 768px) {
      .navbar-nav {
        flex-direction: column !important;
        align-items: flex-end;
      }
    }
  }
}
