<header class="uoc-header">
    <div class="uoc-header__container">
      <a href="../index.html" class="uoc-header__logo">
        <picture>
          <source srcset="../assets/images/logo.png?as=webp&width=120" type="image/webp" />
          <img src="../assets/images/logo.png?width=120" alt="Logo Jornades Economia Circular" />
        </picture>
      </a>
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <!-- Navbar content -->
        <a class="navbar-brand" href="#">
          <img src="../assets/images/logo.png?width=120" alt="" width="120" height="24">
        </a>
        <a href="./article.html" class="uoc-header__nav-link">Article</a>
        <a href="./participants.html" class="uoc-header__nav-link">Participants</a>
        <a href="./lliure.html" class="uoc-header__nav-link">Contacte</a>
      </nav>
      
    </div>
  </header>

